includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - compostD/
        - restaurant/
        - saasOvation/
    excludes_analyse:
        - var/

    tmpDir: var/tools/phpstan/tmp

    ignoreErrors:
        #- '##'
        # Excludes example message: '#Call to an undefined method [a-zA-Z0-9\\_]+::method\(\)#'

        #- "#^Unreachable statement - code above always terminates.#"

