<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">restaurant/tests</directory>
        </testsuite>
        <testsuite name="compost">
            <directory suffix="Test.php">compostD/tests</directory>
        </testsuite>
        <testsuite name="booking">
            <directory suffix="Test.php">restaurant/booking/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">restaurant/src</directory>
            <directory suffix=".php">compostD/src</directory>
            <directory suffix=".php">restaurant/booking/src</directory>
        </whitelist>
    </filter>
</phpunit>
